@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.jokes-layout {
  display: flex;
  align-items: center;
  min-height: 90vh;
}
